/*
GLOBAL
HTML
BODY
HEADER
HERO
MY WORK
CONTACT ME
MEDIA QUERIES
*/

:root{
    --primary-color: navy;
}

/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* GLOBAL END */



/* HTML */
html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: -ms-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: -o-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
}
/* HTML END */

/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    margin: 0 60px;
    display: flex;
}

.section-title {
    padding: 0 20px;
    margin: 0 20px;
    border-right: 4px solid var(--primary-color);
    flex: 0 0 200px;
    text-align: right;
    font-size: 24px;
}

footer {
    margin-bottom: 60px;
}
/* BODY END */

/* HEADER */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: rgba(175,175,175,1);
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav {
    margin: auto 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover{
    background: var(--primary-color);
    color: rgba(191,239,255, 1);
    border-radius: 15px;
    text-shadow: none;
}

#about-me, #my-work, #contact-me {
    height:96px;
}
/* HEADER END */

/* HERO START*/
.hero {
    margin: 0;
    padding: 25px 0;
    justify-content: space-evenly;
    width: 100%;
    background-image: url("../images/tech-background.png");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 55px;
    padding: 0 10px;
    text-shadow: 3px 0 10px rgb(255, 255, 255);
}

.hero-pic {
    margin: 0 10px;
}

.hero-pic img {
    object-fit: cover;
    object-position: top;
    border: 3px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
/* HERO END*/

/* MY WORK START */
.content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    justify-content: center;
}

.card {
    margin: .75%;
    border: 5px solid var(--primary-color);
    display: flex;
    width: 45%;
    height: 150px;
    background-color: rgba(191,239,255, 0.3);
    position: relative;
    border-radius: 5px;
    transition: .5s;
}

.card:hover {
    background-color: rgba(191,239,255, 0);
}

.card:first-child {
    width: 91.5%;
    height: 350px;
}

.card img {
    flex: 1 1 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    z-index: -1;
    position: relative;
}

.card a {
    width: 100%;
}

.project-title {
    position:absolute;
    bottom: 10px;
    padding: 10px 15px;
    background-color:var(--primary-color);
    color: #bfefff;
    border-radius: 0 5px 5px 0;
}
/* MY WORK END */

/* CONTACT ME START*/
.connections {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.connections a {
    margin: auto 10px;
    font-size: 20px;
}
/* CONTACT ME END*/

/* MEDIA QUERIES */
@media screen and (max-width: 980px){
    section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-title {
        border-right:none;
        border-bottom: 4px solid var(--primary-color);
        width: 80%;
        flex: none;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .content {
        justify-content: center;
    }

    header {
        padding-bottom: 25px;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .biography {
        width: 91.5%;
        text-align: justify;
    }

    .card {
        width: 91.5%;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
    .connections {
        flex-direction: column;
        text-align: center;
    }
    .connections a {
        padding: 10px 0;
    }
}
/* MEDIA QUERIES END*/