/*
GLOBAL
HTML
BODY
HEADER
MEDIA QUERIES
*/

/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* GLOBAL END */

/* HTML */
html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: -ms-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: -o-radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(175,175,175,1) 100%);
}
/* HTML END */

/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    margin: 60px;
    display: flex;
}
/* BODY END */

/* HEADER */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: rgba(175,175,175,1);
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: navy;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: navy;
    text-decoration: none;
}

header nav {
    margin: auto 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover{
    background: navy;
    color: lightskyblue;
    border-radius: 15px;
    text-shadow: none;
}
/* HEADER END */

.section-title {
    padding: 0 20px;
    margin: 0 20px;
    border-right: 4px solid navy;
    flex: 0 0 200px;
    text-align: right;
    font-size: 24px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;

}
.card {
    margin: 5px;
    border: 3px solid black;
    display: flex;
}

.card img {
    object-fit: cover;
    object-position: top;
}

.connections{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.connections a{
    margin: auto 10px;
    font-size: 20px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 25px;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-title {
        border-right:none;
        border-bottom: 4px solid navy;
        width: 80%;
        flex: none;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .content {
        justify-content: center;
    }

}

@media screen and (max-width: 575px) {
}
/* MEDIA QUERIES END*/